script(src='/javascripts/jquery.min.js')
script(src='http://malsup.github.io/jquery.form.js')
script.
	$(function(){
		$('#fileUploadForm').ajaxForm(function(){
			alert('Success Upload File');
			$('#fileUploadModal').modal('toggle');
		});
	});


div#fileUploadModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
	div.modal-dialog
		form#fileUploadForm.form-horizontal(role='form', action='/file/upload', method='post', enctype='multipart/form-data')
			div.modal-content
				div.modal-header
					h4.modal-title File Upload
				div.modal-body
					input(type='hidden', name='title', value=title)
					div.form-group
						label.control-label.col-md-2(for='pum_filename') File
						div.col-md-10
							input#pum_filename.form-control(type='file', name='uploadFile')
					div.form-group
						label.control-label.col-md-2(for='pum_tag') Tag
						div.col-md-10
							input#pum_tag.form-control(type='text', name='tag', value='#{title},')
					div.form-group
						label.control-label.col-md-2(for='pum_info') Info
						div.col-md-10
							input#pum_info.form-control(type='text', name='info', placeholder='파일에 대한 설명을 남길 수 있습니다.', size='50')
				div.modal-footer
					button.btn.btn-default(type='button',data-dismiss="modal") Close 
					button.btn.btn-default(type='submit') Upload
