extends layout

block content
	script(src='/javascripts/marked.js')
	script(src='/javascripts/editor.js')
	div.container
		br
		form(role='form', action='/save', method='post')
			div.row(style='hegiht:400px;')
				div.col-md-6
					div(style='height:42px;')
						if(title == null)
							input#title.form-control(type='text', name='title', placeholder='title', value='')
						else
							input#title.form-control(type='text', name='title', placeholder='title', value=title, disabled='disabled')
					div.edit
						textarea#editor.form-control( name='doc')=post
				div.col-md-6
					div
						ul#subtab.nav.nav-tabs
							li.preview.active(name='preview')
								a preview
							li.images(name='images')
								a images
					div.edit_left
						div#preview(style='overflow:scroll;')
							!= doc
						div#images(style='overflow-x:hidden;display:none')
							p ImageTab
			div.row
				br
				div.col-md-12
					button#submit.btn.btn-info(type='submit') SAVE
	include _fileupload