extends layout

block content
	script(src='/javascripts/view.js')
	div
		div.container.bs-docs-container
			div.row
				div.col-md-12(role='main')
					div.panel.panel-default
						div.panel-heading
							h1=post.title
						div.panel-body
							!= doc
						div.panel-footer
							a(href='/edit/'+post.title)
								button.btn.btn-default(type='button') Edit