body {
	margin-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


div.edit {
	height: 750px;
}

div.edit > textarea ,
div.edit > div {
	width: 100%;
	height: 100%;
}

#editor {
	width: 100%;
	height: 100%;
}

#preview, #images {
	height: 730px;
}

div.edit_left{
	height: 750px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

img {
	max-width: 100%;
}